<html lang="en">
    <head>
        <title>Limit exercise</title>
        <style>
            form {
                margin: auto;
                width: 50%;
                border: 3px solid #73AD21;
                border-radius: 1rem;
                padding: 1rem;
            }
            button {
                margin-block: 1rem;
                cursor: pointer;
                scale: 2;
                transform-origin: left;
            }
        </style>
    </head>
    <body>
        <form method="post" action="{% url 'xml_to_json_converter' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
        {% if form.is_valid %}
            <h2>JSON</h2>
            <pre>{{ display_data | safe }}</pre>
        {% endif %}
    </body>
</html>
